<ion-toolbar>
  <!--<ion-buttons slot="start">
    <ion-menu-toggle>
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-buttons>-->
  <!-- Add the menu toggle button -->
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>App Title</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="logout()">Logout</ion-button>
  </ion-buttons>
</ion-toolbar>